// *{border: 1px solid red !important;}

// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Roboto Mono', monospace;

$p-color: #F4F2F0;
$s-color: #666666;

// Body
body, html{
  background-color: #FFFFFF;

  font-family: 'Roboto', sans-serif;

  margin: 0;
  padding: 0;
}

.header{
  background-color: $p-color;

  position: static;
  display: flex;
  align-items: center;

  min-width: 100%;
  min-height: 6em;
  margin-bottom: 5em;
}

// Header Title(Left)
.header-title{
  min-width: 10%;

  padding-left: 2em;
}
.header-title>h1{
  margin: 0;

  text-transform: uppercase;
  color: $s-color;

  font-weight: lighter;
  font-size: 1.3em;
  font-family: 'Roboto Condensed', sans-serif;
}
.header-title>p{
  margin: 0;
  padding: 0;

  color: #a3a2a2;

  font-size: 1em;
  font-family: 'Roboto Condensed', sans-serif;
}

// Header Menu(Right)
.header-menu{
  min-width: auto;

  margin-left: auto;
  justify-content: center;
}
.header-menu>ul{
  margin: 0;
}
.header-menu>ul>a{
  text-decoration: none;
  color: $s-color;
}
.header-menu>ul>a>li{
  list-style: none;

  display: inline;
  padding: 0 2em 0 0;
}

// Header title
.header-content{
  color: $s-color;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;

  display: flex;
  align-items: center;
  justify-content: center;
}

// Content
.content-date{
  color: $s-color;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;

  display: flex;
  justify-content: left;
}
.content-title{
  margin-bottom: .5em;
  color: black;
  font-family: 'Roboto', sans-serif;

  display: flex;
  justify-content: left;
}
.content-summary{
  color: $s-color;
}
